.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-smurf {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
}
